header .header__image {
    margin: auto;
    width: 25%;

}
footer {

    margin-top: 10px;
    background-color: #252525;
    color: white;

}

footer .footer__fb {
    maring: auto;
    width: 6%;

}

footer .footer__tw {
    maring: auto;
    width: 6%;

}

footer .footer__yt {
    maring: auto;
    width: 6%;
}

footer .footer__twi {
    maring: auto;
    width: 6%;
}

.textfooter {
    font-size: large;
    text-align: center;
    margin: 10px;

}
ul {
    list-style: none;
}

.email-log{
    font-size: large;
    text-align: left;
    width : auto;
}

.pass-log{
    font-size: large;
    text-align: left;
}
.checkbox-input{
    font-size: large;
}
form{
    display: block;
    margin-top: 0em;
}

.loginform
{

    width: 100%;
    height: auto;
}



