caption {
    font-style: italic;
    font-size : 150%
}
th {
    text-align: center;
}
td, th {
    border: 1px solid grey;
    text-align: center;
    font-size: 200%;
}
table{
    border-collapse: collapse;
}