header {
    border: solid;
    text-align: center;

}

nav {


    border: solid;
}

main {

    border: solid 1px black;
    border-right: transparent;

}

footer {
    height: 200px;
    margin-top: 10px;
    border: solid;
}

.textfooter {
    font-size: large;
    text-align: center;
    margin: 10px;
}

.listfootercontact {
    font-size: medium;
    text-align: center;
    margin: 10px;
}

header .header__image{
    margin: auto;
    width: 50%;
}