header {
    text-align: center;
    background-color: #252525;
}

nav {
}


main {
}
#titleProduct {
    text-align: center;
    font-style: italic;
}

main .main__WG {
    margin: auto;
    display: flex;
    width: 50%;
}


ul {
    list-style: none;
}

footer {

    margin-top: 10px;
    background-color: #252525;
    color: white;

}

footer .footer__fb {
    maring: auto;
    width: 6%;

}

footer .footer__tw {
    maring: auto;
    width: 6%;

}

footer .footer__yt {
    maring: auto;
    width: 6%;
}

footer .footer__twi {
    maring: auto;
    width: 6%;
}

.textfooter {
    font-size: large;
    text-align: center;
    margin: 10px;

}

.listfootercontact {
    font-size: medium;
    text-align: center;
    margin: 10px;
}

header .header__image {
    margin: auto;
    width: 50%;

}

#menu-horizontal li {
    display: inline-block;
    padding: 10px;
}

#menu-rolling-1 ul {
    list-style: none;
    max-height: 0;
    overflow: hidden;

}

#menu-rolling-1 li:hover ul {
    max-height: 15em;
    list-style: none;
}

#menu-rolling-2 ul {
    list-style: none;
    max-height: 0;
    overflow: hidden;
}

#menu-rolling-2 li:hover ul {
    max-height: 15em;
    list-style: none;

}

#menu-rolling-3 ul {
    list-style: none;
    max-height: 0;
    overflow: hidden;
}

#menu-rolling-3 li:hover ul {
    max-height: 15em;
    list-style: none;

}
.hobby{
    font-size: large;
    text-align: justify;

}
