h1{
    text-align: center;
}
header .header__image40k{
    margin : auto;
    width : 50%
}

#menu-horizontal li {
    display: inline-block;
    padding: 10px;
}

header {
    border : solid;
}
nav{
    border :solid;
}

main {
    border : solid;
}
main .main__inqui {

    width :200%
}

footer {
    border : solid;
}



#menu-horizontal-nav li {
    display: inline-block;
    list-style : none;

}