header {
    text-align: center;

}

nav {
    background-color: #252525;
    color : white;
}


main {
}
#titleProduct {
    text-align: center;
    font-style: italic;
}

main .main__WG {
    margin: auto;
    display: flex;
    width: 50%;
}


ul {
    list-style: none;
}

footer {

    margin-top: auto;
    background-color: #252525;
    color: white;

}

footer .footer__fb {
    margin: auto;
    width: 6%;

}

footer .footer__tw {
    margin: auto;
    width: 6%;

}

footer .footer__yt {
    margin: auto;
    width: 6%;
}

footer .footer__twi {
    margin: auto;
    width: 6%;
}

.textfooter {
    font-size: large;
    text-align: center;
    margin: 10px;

}

.listfootercontact {
    font-size: medium;
    text-align: center;
    margin: 10px;
}

header .header__image {
    margin: auto;
}
@media (min-width: 768px) {
    header .header__image {

        width : 50%
    }

}

#menu-horizontal li {
    display: inline-block;
    padding: 10px;
}

#menu-rolling ul {

    list-style: none;
    max-height: 0;
    overflow: hidden;

}

#menu-rolling li:hover ul {
    max-height: 15em;
    list-style: none;
    text-align: center;
}

#menu-rolling-1 ul {

    list-style: none;
    max-height: 0;
    overflow: hidden;
}

#menu-rolling-1 li:hover ul {
    max-height: 15em;
    list-style: none;

}

#menu-rolling-2 ul {
    list-style: none;
    max-height: 0;
    overflow: hidden;
}

#menu-rolling-2 li:hover ul {
    max-height: 15em;
    list-style: none;

}

.hobby{
    font-size: large;
    text-align: justify;

}

.nav__img1{
    margin : auto;
    width : 1%;
}



.modal{

}
.close{
    color : #aaaaaa;
    font-size : 28px;
    font-weight : bold;
    right :0;
    text-align: right;
}
.modal-content {
    position : absolute;
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    margin : auto;
    left: 0%;
    right: 0%;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;

}

